@model CuboDto

@{
    ViewData["Title"] = "Crear Cubo";
}

<h1>Crear Cubo</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="IdCubo" class="form-label">ID Cubo</label>
        <input asp-for="IdCubo" class="form-control" type="number" value="1" />
        <small class="text-muted">Asigna un ID único manualmente</small>
    </div>

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Modelo" class="form-label"></label>
        <input asp-for="Modelo" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Marca" class="form-label"></label>
        <input asp-for="Marca" class="form-control" type="text" />
    </div>

    <div class="mb-3">
        <label>Imagen</label>
        <input asp-for="ImagenFile" type="file" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Precio" class="form-label"></label>
        <input asp-for="Precio" class="form-control" type="number" />
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>